.ipynb*
backprop/*.e*
backprop/*.o*
__pycache__
.idea
backprop/test
backprop/logs
backprop/runs/**/tmp
backprop/runs/test
backprop/runs/**/config
backprop/runs/**/results/*.png
backprop/runs/**/results/*.npy
backprop/runs/**/results/val_res*.txt
